@import '~open-color/open-color.scss';

$text-color: $oc-gray-9;
$text-color-gray: $oc-gray-6;
$text-color-red: $oc-red-7;
$text-color-blue: $oc-blue-7;

$bg-color: $oc-cyan-6;
$border-color: $oc-gray-8;

body,
a,
div,
span,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $text-color;
    margin: 0;
    padding: 0;
    line-break: normal;
    word-wrap: break-word;
}
